@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Party!</title>
</head>

<body>

    <div class="text-center m-2">
        <h3>We're going to have and exciting party.</h3>
        <h4>(To do: sell it better. add pictures or sometimes.)</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">Rsvp Now</a>

    </div>

</body>

</html>
